.top-line {
  width: 100%;
  border-spacing: 15px;
  border-bottom: solid grey;
  border-bottom-width: 2px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.left {
  float: left;
  display: block;
  border-spacing: 10px;
  margin: 5px;
  font-size: x-large;
  padding-left: 15px;
}

.right {
  float: right;
  display: block;
  border-spacing: 10px;
  margin: 5px;
  padding-right: 15px;
}

body {
  background-color: bisque;
}

.jumbotron {
  background-color: bisque !important;
}

.contact {
  float: right;
  width: 13%;
  padding: 5px;
  border: solid grey;
  border-width: 5px;
  border-spacing: 5px;
  margin: 25px;
  box-sizing: border-box;
}

.center {
  text-align: center;
}