.top-line {
  width: 100%;
  border-spacing: 15px;
  border-bottom: solid grey;
  border-bottom-width: 2px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.left {
  float: left;
  display: block;
  border-spacing: 10px;
  margin: 5px;
  font-size: x-large;
  padding-left: 15px;
}

.right {
  float: right;
  border-spacing: 10px;
  margin: 5px;
  padding-right: 15px;
}